@import "tailwindcss";

:root {
  --background: #00060A;
  --foreground: #F7FFF7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-league-gothic: var(--font-league-gothic);
  --font-neuemontreal: var(--font-neuemontreal);

  --color-primary: #3555B8;
  --color-secondary: #011F76;
  --color-text: #F7FFF7;
  --color-accent: #3555B8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00060A;
    --foreground: #F7FFF7;
  }
}

body {
  background-color: transparent;
  width: 100dvw;
  height: 100dvh;
  font-family: var(--font-neuemontreal);
  color: var(--foreground) !important;
  font-size: clamp(0.6rem, 0.75dvw, 1.5625rem);
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
.text-display {
  color: var(--foreground);
  font-family: var(--font-league-gothic);
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  font-size: clamp(6rem, 13dvw, 30rem);
  line-height: 0.9;
}

h2 {
  font-size: clamp(4rem, 9dvw, 9rem);
  line-height: 0.9;
}

h3 {
  font-size: clamp(2rem, 4.8dvw, 8rem);
  line-height: 0.9;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility margin-center {
  @apply ml-[3.33dvw] mr-[10.63dvw];
}

@utility margin-top {
  @apply mt-[8.06dvh];
}

@utility margin-left {
  @apply ml-[3.33dvw];
}

@utility margin-right {
  @apply mr-[10.63dvw];
}